@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins&family=Roboto:wght@300&family=Silkscreen&display=swap');

* {
    font-family: 'Silkscreen', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,
            rgb(0, 0, 0) 25%,
            rgb(217, 32, 241),
            rgb(200, 60, 235),
            rgb(213, 98, 228));
    min-height: 100vh;
}

.header {
    display: flex;

    align-items: center;
    background: transparent;
    padding: 2px 1px;

}

.header video {
    width: 90px;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}



.navbar {
    display: flex;
}

.navbar a {
    margin-left: 10px;
    font-size: 18px;
    color: rgb(255, 254, 254);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    margin: 20px;
    padding-right: 30px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(236, 38, 38);
    transition: .4s;
}

.navbar a:hover:before {
    width: 100%;
}



.mainn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    width: 300px;
    background: linear-gradient(to bottom,
            rgb(233, 81, 213),
            rgb(147, 235, 230),
            rgb(241, 91, 234));
    border-radius: 50px;
    margin: 20px;
    box-shadow: 2px 2px 10px;
    transition: transform 0.3s ease-in-out;
    max-height: 60vh;
    overflow-y: auto;

}

.cards::-webkit-scrollbar {
    width: 6px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.cards::-webkit-scrollbar-track {
    background-color: transparent;
}

.cards:hover {
    transform: scale(1.08);
}

.image img {
    width: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding-left: 5px;
    padding-top: 5px;
}

.Title {
    text-align: center;
    padding-bottom: 4px;
}

.trailer video {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: rgb(235, 222, 222);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background: linear-gradient(to bottom,
            rgb(230, 77, 30),
            rgb(213, 241, 86),
            rgb(241, 91, 234));
    color: rgb(8, 0, 0);
}

.trailer video {
    border-radius: 25px;
}